<mat-toolbar color="primary">
	<span>Angular Formly</span>
</mat-toolbar>

<div class="container">
  <form 
    [formGroup]="contactForm"
    (ngSubmit)="submitForm(contactModel)"
  >
    <formly-form 
      [model]="contactModel"
      [fields]="contactFields"
      [form]="contactForm"
    >
    </formly-form>
    <button 
      type="submit" 
      [disabled]="contactForm.invalid" 
      mat-raised-button
    >
      Submit
    </button>
  </form>
</div>

<div class="code">
  <h2>Model</h2>
  <pre>Contact: {{contactModel | json}}</pre>
  <pre>Form Status: {{contactForm.valid}}</pre>
</div>


<p>for tutorial visit paul halliday channel: <a href="https://youtu.be/WiljtPGZtW8"> Form Validation with Angular Ngx - Formly
</a></p>